@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bg: #010525;
    --card: #baceee;
    --text: #baceee;
    --grey:#222;
    --grey-light:#333;
    --text-black:#030303;
    --text-grey:#aaa;
    --primary: #3b82f6;
    --primary-dark:#1746c7;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    background: var(--bg);
    color: var(--text);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 botones por fila */
    gap: 5px;
    margin-bottom: 5px;
}

.tab {
    padding: 5px 15px;
    background: var(--text-grey);
    border: none;
    border-radius: 20px;
    color: var(--grey);
    cursor: pointer;
    transition: 0.3s;
}

.tab:hover {
    background: var(--grey-light);
    color: var(--text);
}

.tab.active {
    background: var(--primary);
    color: var(--text);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.clear-btn {
    background: var(--primary-dark) !important; 
    color: white !important;
}

.clear-btn:hover {
    background: #dc2626 !important;
}

.grid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    max-width: 1400px;
    margin: auto;
}

.card {
    background: var(--card);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-body {
    flex: 1;
}

.card p {
    margin-top: 5px;
    font-size: 14px;
    color: var(--text-black);
}

pre {
    background: var(--bg);
    padding: 8px;
    margin: 0;
    border-radius: 8px;
    font-size: 13px;
    overflow-x: auto;
    white-space: pre-wrap;
}

.card-footer {
    margin-top: 0;
    color: var(--text-black)
}

.inputs {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.inputs input {
    flex: 1;
    max-width: 110px;
    height: 40px;
    padding: 0 10px;
    border-radius: 6px;
    border: none;
}

.inputs button {
    height: 40px;
    padding: 0 16px;
    border-radius: 6px;
    background: var(--primary);
    color: var(--text);
    border: none;
    cursor: pointer;
}

.inputs button:hover {
    background: var(--primary-dark);
}
.resultado {
    margin-top: 6px;
    min-height: 30px;
    background: var(--bg);
    border-radius: 6px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    color: var(--primary);
}
#r34 {
    border-collapse: collapse;
    font-size: 10px;
}

#r34 td,
#r34 th {
    padding: 4px;
    text-align: center;
}

#r34 td:nth-child(odd),
#r34 th:nth-child(odd) {
    background-color: var(--grey);
    color: var(--primary);
}

#r34 td:nth-child(even),
#r34 th:nth-child(even) {
    background-color: var(--grey);
    color: var(--text);
}
@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .inputs {
        flex-wrap: wrap;
    }

    .inputs input,
    .inputs button {
        width: 100%;
        max-width: none;
    }
}
