header {
    display: flex;             
    justify-content: center;   
    align-items: center;        
    height: 100px;             
    background-color: #f4f4f4;
}
.ejercicios{
    display: flex;          
    flex-direction: column; 
    align-items: center;               
    padding: 20px
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f36c6c;
    color: black;
    border: none;
    border-radius: 5px;
    transition: 0.3s;       
    width: 200px;      
    margin-bottom: 15px;     
}

button:hover {
    background-color: #dd9292;
}