
h1 {
    text-align: center;
    font-size: 48px;
    color: black;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    font-size: 24px;
    color: black;
    margin-bottom: 1px;
}

.menu1 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;

    width: max-content;
    margin: 100px auto;

}
.menu2 {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    gap: 10px;

    width: max-content;
    margin: 100px auto;

}

.menu1 button { 
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    color: green;
    background-color: rgb(171, 223, 171);
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}
.menu1 button:hover{
     background-color: rgba(79, 212, 79, 0.904);
}
.menu2 button { 
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    color: green;
    background-color: rgb(171, 223, 171);
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}
.menu2 button:hover{
     background-color: rgba(79, 212, 79, 0.904);
}